// Global stylesheet

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$primary-color: #fff;
$secondary-color: #790a0a;
$tertiary-color: #8f2525;
$background-color:#013c63;

html{
    margin: 0;
    height: 100vh;
    width: 100vh;
}
body{
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;
}

.windows{

    border: $primary-color solid 1px;
    padding: 10px;
    width: 350px;

}

//player stylesheet

@keyframes ScrollTitle{
    from {
        transform : translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.player{
    display: flex; 
    align-items: center;
    justify-content: space-between;

    .player__controls__buttons{
        border: $primary-color solid 1px;
        padding: 10px;
        background: none;
        color: $primary-color;
        font-size: 17px;;
    }

    .player__display{

        overflow: hidden;
        width: 60%;
        margin: 8px 10px;
        .player__display__title{
            padding: 8px 25px;
            color: $tertiary-color;
            font-family: silkscreen;
            animation: ScrollTitle 6s linear infinite;
            width: 105%;
        }

    }

 

}

